
    
        
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title text-center p-3">Order List </h2>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.No.</th>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td>{{inc @index}}</td>
                                    <td>{{this._id}}</td>
                                    <td><b>{{this.userName}}</b></td>
                                    <td>{{this.address.mobileNo}}</td>
                                    <td>₹{{this.total}}</td>
                                    {{#ifvalue this.orderStatus 'Cancelled'}}
                                        <td><span class="badge rounded-pill alert-danger">{{this.orderStatus}}</span></td>
                                        {{else}}
                                            {{#ifvalue this.orderStatus 'Refunded'}}
                                                <td><span class="badge rounded-pill alert-danger">{{this.orderStatus}}</span></td>
                                                {{else}}
                                                    {{#ifvalue this.orderStatus 'Processing'}}
                                                    <td><span class="badge rounded-pill alert-warning">{{this.orderStatus}}</span></td>
                                                    {{else}}
                                                <td><span class="badge rounded-pill alert-success">{{this.orderStatus}}</span></td>
                                            {{/ifvalue}}
                                        {{/ifvalue}}
                                    {{/ifvalue}}
                                    <td>{{this.dated}}</td>
                                    <td class="text-end">
                                        <a href="/admin/viewOrderDetails?id={{this._id}}" class="btn btn-md rounded font-sm">Detail</a>
                                        {{!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> --}}
                                    </td>
                                </tr>
                                {{/each}}
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            {{!-- <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> --}}
        </section>