
        <section class="pt-150 pb-150">
            <div style="margin-top:4rem; min-height:80vh; height:max-content; width:100vw">
                <div class="row">
                    <div class="col-lg-11 m-auto">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" href="/account" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" href="/orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        {{!-- <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li> --}}
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" href="/addresses" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        {{!-- <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" href="/profile" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-md-8 m-t-3">
                                <div class="tab-content dashboard-content" style="overflow:scroll">
                                    <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Edit Address</h5>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center align-items-center">

                                                {{#each response.address}}
                                                {{!-- <form action='/editAddress?id={{this.id}}&order={{orderPageStatus}}' method="POST" id="addressEditForm"> --}}
                                                <form method="POST">
                                                    <div class="m-t-20">
                                                        <table>
                                                            <tr>
                                                                <td><label for="name">Name</label></td>
                                                                <td class="pl-2"><input id="name" type="text" class="form-control" name="name" value="{{this.name}}" required></td>
                                                            </tr>
                                                            <tr>
                                                                <td><label for="houseName">Flat/House Name</label></td>
                                                                <td class="pl-2"><input id="houseName" type="text" class="form-control" name="houseName" value="{{this.houseName}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="street"></label>Street</td>
                                                                <td class="pl-2"><input id="street" type="text" class="form-control" name="street" value="{{this.street}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="town"></label>Town</td>
                                                                <td class="pl-2"><input id="town" type="text" class="form-control" name="town" value="{{this.town}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="district"></label>District</td>
                                                                <td class="pl-2"><input id="district" type="text" class="form-control" name="district" value="{{this.district}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="state"></label>State</td>
                                                                <td class="pl-2"><input id="state" type="text" class="form-control" name="state" value="{{this.state}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="pinCode"></label>PIN</td>
                                                                <td class="pl-2"><input id="pinCode" type="number" class="form-control" name="pinCode" value="{{this.pinCode}}" required></td>
                                                            </tr>

                                                            <tr>
                                                                <td><label for="mobileNo"></label>Mobile No.</td>
                                                                <td class="pl-2"><input id="mobileNo" type="number" class="form-control" name="mobileNo" value="{{this.mobileNo}}" required></td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                    
                                                    <div class="m-3 text-center">
                                                      	<button type="submit" class="btn btn-primary" onclick="updateAddress('{{this.id}}')">Submit</button>
                                                    </div>
                                                </form>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<script>
    function updateAddress(id){
        let addStatus = {{orderPageStatus}}
        $.ajax({
            url:'/editAddress?id='+id+'&order'+addStatus,
            type:'POST',
            data:$(form).serialize(),
            success:()=>{
                console.log('success')
            }
        })
    }

</script>